
#card{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 7.5em;
	width: 80vw;
}



.activity-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 100%;
	margin-left: -20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
}

#card .activity-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

#card .activity-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;
}

#card .activity-details li{
	margin: 1vh auto;
	display: flex;
	flex-direction: row;
}

#card .activity-details li>p{
	margin-top: -0.8vh;
	padding-left: 1.5vw;
	font-family: 'EB Garamond', serif;
}


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}

.text {
	margin: 2vw 3vw;
	margin-right: 5vw;
}

#card .activity-details > p,
#card .text >p {
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	color: #7d7d7d;
	margin: 0.6em auto 
}
#card a {
	color: #c73036; font-family: Georgia, serif; text-decoration: underline;
}

.control{
	margin: 2vw 2vw ;
	display: flex;
	flex-direction: row;
	justify-content: centerr;
	align-items: center;
}
.btn {
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}

.btn:hover{
	background: #1a66ff;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  	padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  	position: absolute;
	background: #333;
	z-index: 1;
  	left: 0;
  	top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 200px;
	float: right;
	width: 300px;
	display: inline-block;
}
.mobile-image {
	display: none;
}

#card img {width: 100%;height: 100%;}


.intro p {padding: 0.2em; font-size: 1.3em;}

@media (max-width: 40rem) {
	#card {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin: 6em auto;
		.text >p {
			font-size: 15px;
		}
		.text {
			margin: 0vw;
		}
		
	}

	.intro p {font-size: 1em;}
	.control {
	}
	
	.product-image {
		display: none;
	}
	.mobile-image {
		transition: all 0.3s ease-out;
		display: inline-block;
		position: relative;
		overflow: hidden;
		float: right;
		width: 370px;
		height: 210px;
		display: inline-block;
		border-radius: 25px;
		margin-top: 3em; margin-bottom: 2em;
	}
	.activity-details {
		width: 80%;
		margin-left: 20px;
		.information {
			margin-top: 2vh;
		}
	}
}

@media (max-width: 540px) {

	.mobile-image {
		width: 65vw;
		height: 20vh;
		border-radius: 25px;
		margin-top: 3em; margin-bottom: 2em;
	}
	.activity-details {
		width: 80%;
		margin-left: 0px;
		.information {
			margin-top: 2vh;
		}
	}
}