@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  font-family:Arial,"STHeiti", Helvetica, sans-serif;
  background:#efefef;
  font-size:14px;
  color:#444!important;
  min-height:100vh;
  width:100%;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}


table{
  border-collapse:collapse;
  border-spacing:0
}
fieldset, img{
  border:0
}
legend{
  display:none
}
// address, caption, cite, code, dfn, em, strong, th, var{
//   font-style:normal;
//   font-weight:normal
// }
ol, ul{
  list-style:none
}
caption, th{
  text-align:left
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal
}
q:before, q:after{
  content:''
}
abbr, acronym{
  border:0
}

html{-webkit-text-size-adjust:none;width:100%;height:100% } /*????iphone??safari????????????*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"]{
  -webkit-appearance:none;
  border-radius:0;
}


#app {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  color: #444;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration:none;
    color: #444;
    cursor: pointer;

    &:hover {
      color: rgb(130, 165, 192);
    }
  }
}

.container{
  max-width: 80%;
  margin:0 auto;
  padding:0 10px;
  // overflow-x: hidden;
  // -webkit-overflow-x: hidden;
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(255, 76, 32);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.logoImg{
  width:160px;;
  height:50px;
  display: inline-block;
  padding:5px 5px;
  vertical-align: top;
}

.logoImg img{
  width:100%;
  height:100%;
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}



// 相同的标题副标题
.tcommonBox{
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  background: #fff;
  padding:15px;
  border-radius: 5px;
  margin-bottom: 40px;
  font-size: 15px;
}
.tcommonBox header{
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.tcommonBox  header h1{
  margin: 10px 0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}
.tcommonBox header h2{
  margin:10px 0;
  line-height: 24px;
  text-align: center;
  color:#555;
  font-size: 14px;
}
.tcommonBox section p{
  line-height: 24px;
  margin:10px 0;
}
.tcommonBox  header h2 .el-rate,.rateBox{
  display:inline-block;
}
.tcommonBox  header h2 .el-rate i{
  font-size: 16px;
}
.s-item .article-coontent{
  font-size: 15px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
//标题和按钮
.s-item .article-content p{
  margin:10px 0;
  line-height:24px;
}
.s-item .viewdetail{
  margin:10px 0 ;
  line-height: 24px;
  text-align: center;
}
.s-item .viewdetail a{
  color:#fff;
  font-size: 12px;
  padding:5px 10px;
  border-radius: 5px;
}

.viewmore{
  text-align: center;
  width:100%;
}
.viewmore a{
  /*background:  #97dffd;*/
  /*padding:6px 0;*/
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color:#fff;
  height:30px;
  line-height: 30px;
  display: block;
}

@media screen and (max-width: 500px) {//500px 手机尺寸
  .dlikeColBox{//点赞收藏手机端换行
      display: block!important;
      float:none!important;
      margin: 10px auto!important;
      text-align: center!important;
  }
  .el-message-box{//提示弹框手机框展示
      max-width: 80%;
  }
  .userInfoBox  .el-input, .userInfoBox  .el-textarea{//用户中心表框
      max-width:280px!important;
  }
  .userInfoBox li{//li 更改padding  缩小距离
      padding:15px 10px!important;
  }
  .userInfoBox li .el-radio-group .el-radio{//标签样式调整
      margin-left: 15px!important;
      margin-bottom: 5px;
  }
  .tFriendsBox .tf-item a{//好友列表自适应缩小尺寸
      padding:0 5px 0 60px!important;
       img{
          width:50px!important;
          height:50px!important;
          left:5px!important;
      }
  }
}
@media screen and (max-width: 700px) {
  .headBox{
      display: none;
  }
  .mobileBox{//手机端导航栏显示
      display: block;
  }
  .headImgBox{
      height:450px!important;
      margin-bottom:-140px!important;
  }
  .h-information{
      display:none;
  }
  .headImgBox .scene{
      font-size: 50px!important;
      top:120px;
  }


}


@media screen and (min-width: 701px) {
  .headBox{
      display: block;
  }
  .mobileBox{
      display: none;
  }
}
@media screen and  (max-width:800px){
  .container{
      max-width: 100%!important;
      margin:0 auto;
  }
  .s-round-date{
      width:0!important;
  }
  .ui.label {
      left:-18px!important;
      padding-left:18px!important;
  }
  .ui.label::after{
      border:none!important;
  }
  .headBox li.el-menu-item,.headBox .el-submenu__title{
      padding:0 15px;
  }
  .toTop{
      display: none!important;
  }
  //隐藏上滑图标
  .hidden{
      display: none!important;
  }

}
@media screen and  (min-width:801px) {
  .headBox li.el-menu-item,.headBox .el-submenu__title{
      padding:0 12px;
  }

}
@media screen and  (max-width:990px){
  // .hidden{
  //     display: none!important;
  // }
  div.rightlistBox .rs2.fixed{
      position: relative;
      top:0;
      width:auto;
  }
}
@media screen and  (min-width:991px){
  .headBox li.el-menu-item,.headBox .el-submenu__title{
      padding:0 20px;
  }
}


.fitImg{
  width:100%;
  height:100%;
  object-fit: cover;
}
.maxW{
  max-width: 100%;
}
.fwb{
  font-weight:bold;
}
.right{
  float:right;
}
.left{
  float:left;
}
.btnone {
  border-top: none!important;
}
.brone {
  border-right: medium none !important;
}
