.paragraph {
background:#efefef;
min-height:100vh;
overflow-x: hidden;
-webkit-overflow-x: hidden;
-webkit-tap-highlight-color: transparent;
max-width: 60%;
margin: 2vh auto;
padding:0 10px;
// overflow-x: hidden;
// -webkit-overflow-x: hidden;
}

.header {
width: 100%;
background-color: #df292f;
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
}
.header-img {
width: 80%;
height: 80%;
object-fit: fill;
}

h1 { 
color: #333333; 
font-family: 'Bitter', serif; 
font-size: 5.5vh; 
font-weight: normal; 
line-height:6vh; 
margin: 2.5vh 0 6vh; }

h2 { 
color: #333333; 
font-family: 'Bitter', serif; 
font-size: 4vh; 
font-weight: normal; 
line-height: 3.5vh; 
margin: 2vh 0 3.5vh; }

h3 { 
color: #333333; 
font-family: 'KhmerSBBICSerifRegular'; 
font-size: 3vh; 
font-weight: bolder; 
line-height: 2.5vh; 
margin: 1.5vh 0 2.5vh; }

h4 { 
    color: #333333; 
    font-family: 'KhmerSBBICSerifRegular'; 
    font-size: 2vh; 
    font-weight: bolder; 
    line-height: 2vh; 
    margin: 1vh 0 1vh; 
}

ul {
    padding-inline-start: 40px;
    margin: 1.3125em 0;
    padding-left: 2em;
    li {
        font-size: 1.3125rem;
        list-style: square;
    }
    li::marker {
        color: black;
        font-size: 1.2em;
    }
    strong {
        font-weight: bolder;
    }
}


p { color: #333333; font-family: Georgia, serif; font-size: 2.2vh; line-height: 28px; margin: 0 0 28px; }
.small-p {color: #333333; font-family: Georgia, serif; font-size: 1.8vh; line-height: 1.8vh; margin: 0 0 1.8vh;}

a { color: #c73036; font-family: Georgia, serif; text-decoration: underline; }


a:hover { color: #333333; text-decoration: underline; }


.author { color: #8d8d8d; font-family: Georgia, serif; font-style: italic; font-size: 14px; margin-bottom: 28px; }


.author a { color: #c73036; font-family: "Helvetica Neue", sans-serif; font-weight: bold; text-decoration: none; text-transform: uppercase; }


@media (max-width: 1300px) {
    .paragraph {
        max-width: 75%;
    }
    h1 {font-size: 5.2vh;}
    h2 {font-size: 3.7vh;}
    h3 {font-size: 2.8vh;}
    h4 {font-size: 1.7vh;}
    p {font-size: 2vh;}
    .small-p {font-size: 1.5vh;}
}

@media (max-width: 1000px) {
    .header-img {
        width: 100%;
        object-fit: fill;
    }
    .paragraph {
        max-width: 80%;
    }
    h1 {font-size: 5vh;}
    h2 {font-size: 3.5vh;}
    h3 {font-size: 2.7vh;}
    h4 {font-size: 1.6vh;}
    p {font-size: 1.7vh; margin: 0 0 22px;}
    .small-p {font-size: 1.5vh; margin-bottom: 1.5vh;}
}

@media (max-width: 600px) {
    .paragraph {
        max-width: 90%;
    }
    h1 {font-size: 4.5vh;}
    h2 {font-size: 3vh;}
    h3 {font-size: 2.8vh;}
    h4 {font-size: 2vh;}
    p {font-size: 1.8vh; margin: 0 0 15px;}
    .small-p {font-size: 1.7vh;}
}